*{
  font-family: 'Josefin Sans', sans-serif;
}
.top-header{
  display: flex;
  height: 10vh;
  background-color: rgb(20, 20, 20);
}
.head-logo{
font-family: 'Josefin Sans', sans-serif;
font-size: 3rem;
letter-spacing: 0.75rem;
transition: all 0.75s ease;
}
.head-logo:hover{
  color:rgb(255, 193, 7);
  letter-spacing: 1.5rem;
}
.form{
  padding-left: 5rem;
  display: flex;
  flex-wrap: nowrap;
}
.nav{
font-family: "GothamBold",Helvetica,Arial,sans-serif;
line-height:69.24px;
letter-spacing: 0.25rem;
color:white;
margin-right: 10px;
white-space:nowrap;
}
.date{
  padding-top: 20px;
  margin-right: 5px;
}
input{
border-radius: 4px;
width: 100px;
}
.article{
width: 100vw;
height:85vh;
position:relative;
}
.warning-month{
position: absolute;
left: 77.5%;
width:10rem;
height:25.1vh;
z-index:10;
}
.YEAR{
height: 25.1vh;
width: 100%;
}
.CALENDAR{
background-color: rgb(20, 20, 20);
height: 59.9vh;
width: 100%;


}
table{
font-size: 1.2rem;
border-radius: 10px;
font-family: 'Josefin Sans', sans-serif;
}
h4{
padding-top: 15%;
margin: 0;
}
.months{
  margin-top: -20px;
  font-size:8rem;
}
.images{
padding: 0;
height:85vh;
z-index: 0;
}
.calendar{
height:85vh;
}
.footer{
height:5vh;
background-color: rgb(20, 20, 20);
}
.col-4{
background-color: rgb(20, 20, 20);
}
h1{
  font-family: 'Josefin Sans', sans-serif;
}
.jhang{
  font-family: 'Rufina', serif;
  background-color: rgb(20, 20, 20);
  height:34.12px;
  line-height: 34.11px;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.artist{
  background-color: rgb(20, 20, 20);
  font-family: 'Rufina', serif;
  height:5vh;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform-origin:50% 100%;
  transition: all 0.33s ease;
  overflow: hidden;
  border: 1px solid rgb(255, 193, 7);
  padding-left:15px;
  padding-right:10px;
  padding-bottom:10px;
  letter-spacing: 0.1rem;
}
.artist:hover{
  height: 90vh;
  opacity:100;
}
.john{
line-height: 34.11px;
}
.william{
font-family: 'Rufina', serif;
font-size: 0.9rem;
line-height: 1.35rem;
}
